---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout title="Profile">
  <h2>Personal Information</h2>
  <dl>
    <dt>氏名</dt>
    <dd>今井 雄毅(イマイ ユウキ)</dd>
  </dl>

  <h2>要約</h2>
  <p>ITエンジニアです。クラウドレイヤーあたりをしています。</p>

  <h2>職歴</h2>
  <dl>
    <dt>2020年1月~</dt>
    <dd>株式会社Kadokawa Connected</dd>
    <dt>2019年4月~2019年12月</dt>
    <dd>株式会社ドワンゴ</dd>
  </dl>

  <h2>学歴</h2>
  <dl>
    <dt>2019年3月</dt>
    <dd>東京大学大学院情報理工学系研究科修士課程卒業</dd>
    <dt>2017年4月</dt>
    <dd>東京大学大学院情報理工学系研究科修士課程入学</dd>
    <dt>2014年8月</dt>
    <dd>東京大学理学部情報科学科に内部進学</dd>
    <dt>2013年4月</dt>
    <dd>東京大学理科一類入学</dd>
  </dl>

  <h2>技能・資格</h2>
  <h3>技能</h3>
  <h3>取得したことのある資格等</h3>
  <dl>
    <dt>Certified Kubernetes Administrator</dt>
    <dd>2022年O月</dd>
    <dt>AWS Certified Solutions Architect - Associate</dt>
    <dd>2022年O月</dd>
    <dt>AWS Certified Developer - Associate</dt>
    <dd>2022年O月</dd>
    <dt>AWS Certified SysOps Administrator - Associate</dt>
    <dd>2022年O月</dd>
  </dl>
</DefaultLayout>
