---
import SNSs from "./SNSs.astro";
---

<>
  <div class = "footer-contents">
    <SNSs />
  </div> 
  <p>今井雄毅(ゆーちき)</p>
</>

<style>
  .footer-contents {
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0;
  }

  p {
    text-align: center;
  }
</style>
