---
import { WhiteTextColor, backgroundColor, nearBlackColorAlpha } from "@layouts/Color";
const { title, description, image } = Astro.props;
---

<div class="ogp-card">
  <div class="thumbnail">
    <img src={image} alt={title} />
    <div class="caption">
      <h2 class="ogp-title">{title}</h3>
      <p>{description}</p>
    </div>
  </div>
 
</div>

<style define:vars={{WhiteTextColor, backgroundColor,nearBlackColorAlpha}}>
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    box-shadow: -5px 5px 5px #b39b74 ;
  }

  .ogp-card {
    margin:10px;
  }

  .thumbnail {
    max-width: 300px; 
    max-height: 300px; 
    width: 50vw; /* mainに横３つ並ぶようにサイズ調整 */
    height: 50vw; 
    position: relative;
  }

  .caption {
    background-color: var(--nearBlackColorAlpha);
    display: inline-block;
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 1;
    min-height: 10%;


    .ogp-title {
      margin: 0;
      font-size: 1.2rem;
      font-family: "Zen Maru Gothic", sans-serif;

    color: var(--backgroundColor);
    }

    p {
      margin: 0;
      display: none;
      color: var(--WhiteTextColor);
    }
  }

  .caption:hover {
    min-height: 33%;
    p {
      display: unset;
    }
  }
</style>
